@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
header nav {
  width: 100%;
}

.top-nav {
  width: 85%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 430px) {
  .top-nav {
    width: 90%;
  }
}
.top-nav .tag p {
  font-size: 16px;
  font-weight: 500;
}
.top-nav .search form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top-nav .search form input {
  border: 2px solid rgba(1, 1, 1, 0.1);
  width: 750px;
  padding: 13px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-shadow: 10px 10px 25px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 25px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 25px -17px rgba(0, 0, 0, 0.75);
}
@media (max-width: 768px) {
  .top-nav .search form input {
    width: 360px;
  }
}
.top-nav .search form button {
  box-sizing: border-box;
  margin: 0;
  border: none;
  box-shadow: none;
  padding: 11px;
  background: #df0040;
}
.top-nav .search form button svg {
  stroke: #fff;
}

.bottom-nav {
  width: 85%;
  height: 6vh;
  margin: 0 auto;
}
@media (max-width: 430px) {
  .bottom-nav {
    width: 90%;
  }
}
.bottom-nav .links ul li {
  cursor: pointer;
  margin-right: 1rem;
}
.bottom-nav .btns a {
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #333333;
}

.small-banner .content {
  margin: 35px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 20px;
}
@media (max-width: 768px) {
  .small-banner .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 430px) {
  .small-banner .content {
    grid-template-columns: 1fr;
  }
}
.small-banner .content a {
  width: 100%;
}
.small-banner .content a .card {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.small-banner .content a .card img {
  margin-right: 25px;
}
.small-banner .content a .card .info h3 {
  margin: 10px 0;
}

.lg-banner .wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 20px 20px;
}
@media (max-width: 768px) {
  .lg-banner .wrapper {
    grid-template-columns: 1fr;
  }
}
.lg-banner .card {
  margin: 20px 0;
  position: relative;
}
.lg-banner .card .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.lg-banner .card .content {
  position: absolute;
  top: 20px;
  left: 25px;
  z-index: 10;
  color: #fff;
  width: 65%;
}
.lg-banner .card .content .title {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0;
}
.lg-banner .card .content .sub {
  font-size: 20px;
  font-weight: 600;
  margin: 15px 0;
}
.lg-banner .card .content .btn {
  background-color: #e21953;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
}
.lg-banner .col-1 .card {
  width: 100%;
  height: calc(100vh / 2);
}
.lg-banner .col-1 .card img {
  width: 100%;
  height: calc(100vh / 2);
}
.lg-banner .col-2 .card {
  width: 100%;
  height: calc(100vh / 3.1);
}
.lg-banner .col-2 .card img {
  width: 100%;
  height: calc(100vh / 3.1);
}

.shop-by-cat {
  margin-top: 30px;
}
.shop-by-cat .wrapper h1 {
  text-align: center;
  margin: 30px 0;
}
.shop-by-cat .wrapper .cats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.recent-blog .wrapper {
  width: 100%;
  margin: 30px 0;
}
.recent-blog .wrapper h1 {
  margin: 30px 0;
  text-align: center;
}
.recent-blog .wrapper .blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
}
.recent-blog .wrapper .blogs .blog img {
  width: 100%;
}

.user-auth h1 {
  font-size: 26px;
  font-weight: 800;
  text-align: center;
}
.user-auth .sign-in {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-auth .sign-in label {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}
.user-auth .sign-in input {
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0;
  padding: 15px;
  width: 300px;
  box-sizing: border-box;
}
.user-auth .sign-in button {
  width: 300px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #000;
  color: white;
  border: none;
  box-shadow: none;
  font-weight: 700;
}

.product-single .wrapper {
  width: 100%;
}
.product-single .wrapper .row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
}
@media (max-width: 768px) {
  .product-single .wrapper .row-1 {
    grid-template-columns: 1fr;
  }
}
.product-single .wrapper .row-1 img {
  width: 100%;
}
.product-single .wrapper .row-1 .prod-info {
  width: 300px;
}
.product-single .wrapper .row-1 .prod-info .title {
  font-size: 36px;
  margin: 25px 0;
}
.product-single .wrapper .row-1 .prod-info .price {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 10px 0;
}
.product-single .wrapper .row-1 .prod-info .discount {
  color: rgba(255, 0, 0, 0.5);
  text-decoration: line-through;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 10px 0;
}
.product-single .wrapper .row-1 .prod-info .cart {
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: #df0040;
  color: white;
  margin-top: 10px;
}
.product-single .wrapper .row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 50px;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .product-single .wrapper .row-2 {
    grid-template-columns: 1fr;
  }
}
.product-single .wrapper .row-2 h2 {
  margin: 15px 0;
}
.product-single .wrapper .row-2 p {
  line-height: 1.5rem;
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
}
.product-single .wrapper .row-2 .line {
  width: 35px;
  margin: 10px 0 10px 0;
  height: 4px;
  background-color: #111;
}
.product-single .wrapper .row-2 ul {
  list-style-type: square;
}
.product-single .wrapper .row-2 ul li {
  margin: 25px 0;
}

body {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

a {
  text-transform: none;
  text-decoration: none;
  color: #000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-space {
  justify-content: space-between;
}

.container {
  width: 85%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

/*# sourceMappingURL=main.css.map */
